* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

.calculator {
    width: 300px;
    padding: 20px;
    background-color: #170707;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    text-align: right;
    font-size: 24px;
    padding: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    color: white;
    border-radius: 50%;
    background-color: #343333;
    cursor: pointer;
}

button:hover {
    background-color: #170707;
}